<!DOCTYPE html>
<html>
<head>


</head>
<body>
	<div class="reg-container">
		<div class="col-lg-12 col-md-12 col-xs-12">
			<h4 class="green-title">Kit Advisor's Suggested Sheds</h4>
			<a>Link to sheds on diy.com</a>
			<div class="somecontainer clearfix">
				<div class="col-lg-12 col-md-12 col-xs-12">
					<div class="conversation-well somecontainer clearfix">Some other content ::: Asma's content will go here ::::</div>
				</div>
				<div class="col-lg-2 col-md-2 col-xs-4 text-right no-padding-left">
					<button class="input-btn btn btn-block" id="send-btn">Some Test button</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>