<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

</head>

<body>
    <div id="shed-container" class="shed-container">
        <div class="row" id="shed-view-one">
            <div class="col-md-1 next-prev-buttons">
                <img src="images/prev.png" />
            </div>
            <div class="col-md-3">
                <div class="shed-container" id="selected-shed" style="">
                    <img src="images/shed_321_small.jpg" class="shed-image" />
                    <h4 class="shed-title "><a href="">8X6 Durham Apex Shiplap Wooden Shed</a></h4>
                    <img src="images/rating.png" class="shed-rating" />
                    <p class="shed-price">£321</p>
                    <img src="images/icons.png" class="shed-icons" />

                    <br/>
                    <br/>

                    <p class="add-to-basket"><a href="#">Add to Basket</a></p>
                    <p onclick="myFunction();"><a href="#" class="shed-details" id="tabs1" onclick="showStuff(this);">Product details</a> | <a href="#" class="shed-details" id="tabs2" onclick="showStuff(this)">Photos</a></p>

                </div>
            </div>
            <div class="col-md-3">
                <div class="shed-container">
                    <img src="images/shed_496_small.jpg" class="shed-image" />
                    <h4 class="shed-title "><a href="">8X6 Apex Shiplap+ Wooden Shed with base</a></h4>
                    <img src="images/rating.png" class="shed-rating" />
                    <p class="shed-price">£496</p>
                    <img src="images/icons.png" class="shed-icons" />
                    <br/>
                    <br/>
                    <p class="add-to-basket"><a href="#">Add to Basket</a></p>
                    <p><a href="#" class="shed-details">Product details</a> | <a href="#" class="shed-details">Photos</a></p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="shed-container">
                    <img src="images/shed_496_small.jpg" class="shed-image" />
                    <h4 class="shed-title "><a href="">8X6 Apex Shiplap+ Wooden Shed</a></h4>
                    <img src="images/rating.png" class="shed-rating" />
                    <p class="shed-price">£398</p>
                    <img src="images/icons.png" class="shed-icons" />
                    <br/>
                    <br/>
                    <p class="add-to-basket"><a href="#">Add to Basket</a></p>
                    <p><a href="#" class="shed-details">Product details</a> | <a href="#" class="shed-details">Photos</a></p>
                </div>
            </div>
            <div class="col-md-1 next-prev-buttons">
                <img src="images/next.png" onclick="nextShed();" />
            </div>
        </div>

        <div class="row" id="shed-view-two">
            <div class="col-md-1 next-prev-buttons">
                <img src="images/prev2.png" onclick="prevShed();" />
            </div>
            <div class="col-md-3">
                <div class="shed-container" id="selected-shed" style="">
                    <img src="images/shed_small.jpg" class="shed-image" />
                    <h4 class="shed-title"><a href="#">8X6 Warwick Apex Shiplap Wooden Shed Base Frame Provided</a></h4>
                    <img src="images/rating.png" class="shed-rating" />
                    <p class="shed-price">£390</p>
                    <img src="images/icons.png" class="shed-icons" />

                    <br/>
                    <br/>

                    <p class="add-to-basket"><a href="#">Add to Basket</a></p>
                    <p><a href="#" class="shed-details" id="tabs1">Product details</a> | <a href="#" class="shed-details" id="tabs2">Photos</a></p>

                </div>
            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-1 next-prev-buttons">
                <img src="images/next2.png" />
            </div>
        </div>








        <div id="tabs-1" class="tabContent details-container">

            <img src="images/productinfo.png">
        </div>
        <div id="tabs-2" class="tabContent details-container">
            <img src="images/productphoto.png">

        </div>
    </div>


</body>



</html>