#header {
    background: #3C3C3C;
    color: #EDEDED;
    padding: 10px;
    width: 100%
}

ul#nav-mobile li {
    display: inline;
    padding-right: 120px;
} 

left{
	float: left;
}

right{
	float: right;
}

.chat-watson-cont:after {
	content: "";
    display: block;
    background: url(../images/kit_icon.png) no-repeat;
    width: 40px;
    height: 30px;
    float: left;
    margin: 10px 6px 0 6px;
    background-size: 40px 30px;
}

.chat-human-cont:after{
	content: "";
    display: inline-block;
    background: url('../images/watson.svg') no-repeat;
    width: 30px;
    height: 30px;
    float: right;
    margin: 0 6px 0 0;
}

.chat-human, .chat-watson{
	min-width: 25%;
	background-color: white;
}

.chat-watson{
	border: 1px solid grey;
}

.chat-human{
	border: 1px solid #f60;
}

#send-btn{
	border: none;
    border-radius: 34px;
    background-color: #f60;
    color: #fff;
    width: 96%;
    margin: 20px auto;
}

.container{
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}
.conversation-div {
    background-color: #e6e7e8;
}

#response-input{
	height: 80px;
	border: none;
}

.submit-cont{
	background-color: #fff;
    height: 80px;
}

.sugg-chat{
	float: left;
	width:100%;
	margin-bottom: 15px;
}

#sugg-sheds{
	margin-bottom: 15px;
}
.profile-container {
    color: black;
}

.profile-info{
	position: fixed;
    bottom: 0px;
    right: 0px;
    margin-bottom: 26px;
}